<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
      --------------------------------------- 0.1/6.0 MB 1.1 MB/s eta 0:00:06
     - -------------------------------------- 0.2/6.0 MB 919.0 kB/s eta 0:00:07
     - -------------------------------------- 0.2/6.0 MB 919.0 kB/s eta 0:00:07
     - -------------------------------------- 0.2/6.0 MB 654.4 kB/s eta 0:00:09
     - -------------------------------------- 0.2/6.0 MB 687.0 kB/s eta 0:00:09
     - -------------------------------------- 0.3/6.0 MB 713.1 kB/s eta 0:00:08
     - -------------------------------------- 0.3/6.0 MB 713.1 kB/s eta 0:00:08
     -- ------------------------------------- 0.3/6.0 MB 748.1 kB/s eta 0:00:08
     -- ------------------------------------- 0.4/6.0 MB 734.3 kB/s eta 0:00:08
     -- ------------------------------------- 0.4/6.0 MB 734.3 kB/s eta 0:00:08
     -- ------------------------------------- 0.4/6.0 MB 734.3 kB/s eta 0:00:08
     -- ------------------------------------- 0.4/6.0 MB 734.3 kB/s eta 0:00:08
     --- ------------------------------------ 0.5/6.0 MB 685.7 kB/s eta 0:00:09
     --- ------------------------------------ 0.5/6.0 MB 685.7 kB/s eta 0:00:09
     --- ------------------------------------ 0.5/6.0 MB 629.6 kB/s eta 0:00:09
     --- ------------------------------------ 0.5/6.0 MB 618.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 631.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 631.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 631.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 631.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 631.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 631.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 471.8 kB/s eta 0:00:12
     --- ------------------------------------ 0.6/6.0 MB 482.7 kB/s eta 0:00:12
     --- ------------------------------------ 0.6/6.0 MB 482.7 kB/s eta 0:00:12
     --- ------------------------------------ 0.6/6.0 MB 482.7 kB/s eta 0:00:12
     --- ------------------------------------ 0.6/6.0 MB 482.7 kB/s eta 0:00:12
     ---- ----------------------------------- 0.6/6.0 MB 454.3 kB/s eta 0:00:12
     ---- ----------------------------------- 0.6/6.0 MB 446.5 kB/s eta 0:00:12
     ---- ----------------------------------- 0.7/6.0 MB 436.9 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 439.1 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 439.1 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 439.1 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 424.6 kB/s eta 0:00:13
     ----- ---------------------------------- 0.7/6.0 MB 425.2 kB/s eta 0:00:13
     ----- ---------------------------------- 0.7/6.0 MB 425.2 kB/s eta 0:00:13
     ----- ---------------------------------- 0.7/6.0 MB 425.2 kB/s eta 0:00:13
     ----- ---------------------------------- 0.8/6.0 MB 427.6 kB/s eta 0:00:13
     ----- ---------------------------------- 0.8/6.0 MB 419.1 kB/s eta 0:00:13
     ----- ---------------------------------- 0.8/6.0 MB 419.1 kB/s eta 0:00:13
     ----- ---------------------------------- 0.9/6.0 MB 425.0 kB/s eta 0:00:13
     ----- ---------------------------------- 0.9/6.0 MB 428.6 kB/s eta 0:00:12
     ----- ---------------------------------- 0.9/6.0 MB 428.6 kB/s eta 0:00:12
     ------ --------------------------------- 0.9/6.0 MB 422.7 kB/s eta 0:00:12
     ------ --------------------------------- 0.9/6.0 MB 422.7 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 423.3 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 424.8 kB/s eta 0:00:12
     ------- -------------------------------- 1.0/6.0 MB 382.6 kB/s eta 0:00:13
     ------- -------------------------------- 1.0/6.0 MB 382.6 kB/s eta 0:00:13
     ------- -------------------------------- 1.0/6.0 MB 382.6 kB/s eta 0:00:13
     ------- -------------------------------- 1.1/6.0 MB 370.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 370.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 370.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 370.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 370.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 357.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 357.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 357.4 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 349.9 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 349.9 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 349.9 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 349.9 kB/s eta 0:00:14
     ------- -------------------------------- 1.1/6.0 MB 349.9 kB/s eta 0:00:14
     ------- -------------------------------- 1.2/6.0 MB 333.6 kB/s eta 0:00:15
     ------- -------------------------------- 1.2/6.0 MB 333.6 kB/s eta 0:00:15
     ------- -------------------------------- 1.2/6.0 MB 327.6 kB/s eta 0:00:15
     ------- -------------------------------- 1.2/6.0 MB 327.6 kB/s eta 0:00:15
     ------- -------------------------------- 1.2/6.0 MB 327.6 kB/s eta 0:00:15
     -------- ------------------------------- 1.2/6.0 MB 327.6 kB/s eta 0:00:15
     -------- ------------------------------- 1.2/6.0 MB 326.3 kB/s eta 0:00:15
     -------- ------------------------------- 1.2/6.0 MB 322.3 kB/s eta 0:00:15
     -------- ------------------------------- 1.2/6.0 MB 322.3 kB/s eta 0:00:15
     -------- ------------------------------- 1.3/6.0 MB 322.5 kB/s eta 0:00:15
     -------- ------------------------------- 1.3/6.0 MB 322.5 kB/s eta 0:00:15
     -------- ------------------------------- 1.3/6.0 MB 321.3 kB/s eta 0:00:15
     -------- ------------------------------- 1.3/6.0 MB 320.1 kB/s eta 0:00:15
     -------- ------------------------------- 1.3/6.0 MB 320.2 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 322.8 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 322.8 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 321.7 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 321.7 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 321.7 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 316.1 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 316.1 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 312.9 kB/s eta 0:00:15
     --------- ------------------------------ 1.4/6.0 MB 312.9 kB/s eta 0:00:15
     --------- ------------------------------ 1.5/6.0 MB 316.4 kB/s eta 0:00:15
     --------- ------------------------------ 1.5/6.0 MB 316.4 kB/s eta 0:00:15
     --------- ------------------------------ 1.5/6.0 MB 313.3 kB/s eta 0:00:15
     --------- ------------------------------ 1.5/6.0 MB 313.3 kB/s eta 0:00:15
     ---------- ----------------------------- 1.5/6.0 MB 312.6 kB/s eta 0:00:15
     ---------- ----------------------------- 1.5/6.0 MB 312.8 kB/s eta 0:00:15
     ---------- ----------------------------- 1.5/6.0 MB 315.0 kB/s eta 0:00:15
     ---------- ----------------------------- 1.5/6.0 MB 315.1 kB/s eta 0:00:15
     ---------- ----------------------------- 1.5/6.0 MB 315.1 kB/s eta 0:00:15
     ---------- ----------------------------- 1.6/6.0 MB 314.3 kB/s eta 0:00:14
     ---------- ----------------------------- 1.6/6.0 MB 314.3 kB/s eta 0:00:14
     ---------- ----------------------------- 1.6/6.0 MB 317.5 kB/s eta 0:00:14
     ---------- ----------------------------- 1.6/6.0 MB 317.5 kB/s eta 0:00:14
     ----------- ---------------------------- 1.6/6.0 MB 317.8 kB/s eta 0:00:14
     ----------- ---------------------------- 1.7/6.0 MB 316.9 kB/s eta 0:00:14
     ----------- ---------------------------- 1.7/6.0 MB 316.9 kB/s eta 0:00:14
     ----------- ---------------------------- 1.7/6.0 MB 318.0 kB/s eta 0:00:14
     ----------- ---------------------------- 1.7/6.0 MB 318.0 kB/s eta 0:00:14
     ----------- ---------------------------- 1.7/6.0 MB 319.1 kB/s eta 0:00:14
     ----------- ---------------------------- 1.8/6.0 MB 320.2 kB/s eta 0:00:14
     ----------- ---------------------------- 1.8/6.0 MB 320.2 kB/s eta 0:00:14
     ------------ --------------------------- 1.8/6.0 MB 321.2 kB/s eta 0:00:13
     ------------ --------------------------- 1.8/6.0 MB 323.1 kB/s eta 0:00:13
     ------------ --------------------------- 1.8/6.0 MB 324.9 kB/s eta 0:00:13
     ------------ --------------------------- 1.8/6.0 MB 324.9 kB/s eta 0:00:13
     ------------ --------------------------- 1.9/6.0 MB 324.1 kB/s eta 0:00:13
     ------------ --------------------------- 1.9/6.0 MB 326.8 kB/s eta 0:00:13
     ------------ --------------------------- 1.9/6.0 MB 328.6 kB/s eta 0:00:13
     ------------- -------------------------- 2.0/6.0 MB 331.2 kB/s eta 0:00:13
     ------------- -------------------------- 2.0/6.0 MB 332.8 kB/s eta 0:00:12
     ------------- -------------------------- 2.0/6.0 MB 335.4 kB/s eta 0:00:12
     ------------- -------------------------- 2.0/6.0 MB 335.4 kB/s eta 0:00:12
     ------------- -------------------------- 2.0/6.0 MB 335.3 kB/s eta 0:00:12
     ------------- -------------------------- 2.0/6.0 MB 335.3 kB/s eta 0:00:12
     -------------- ------------------------- 2.1/6.0 MB 337.7 kB/s eta 0:00:12
     -------------- ------------------------- 2.1/6.0 MB 340.8 kB/s eta 0:00:12
     -------------- ------------------------- 2.1/6.0 MB 340.8 kB/s eta 0:00:12
     -------------- ------------------------- 2.1/6.0 MB 340.8 kB/s eta 0:00:12
     -------------- ------------------------- 2.1/6.0 MB 340.8 kB/s eta 0:00:12
     -------------- ------------------------- 2.2/6.0 MB 338.1 kB/s eta 0:00:12
     -------------- ------------------------- 2.2/6.0 MB 341.2 kB/s eta 0:00:12
     -------------- ------------------------- 2.2/6.0 MB 341.2 kB/s eta 0:00:12
     --------------- ------------------------ 2.2/6.0 MB 341.0 kB/s eta 0:00:11
     --------------- ------------------------ 2.3/6.0 MB 341.7 kB/s eta 0:00:11
     --------------- ------------------------ 2.3/6.0 MB 344.7 kB/s eta 0:00:11
     --------------- ------------------------ 2.3/6.0 MB 344.6 kB/s eta 0:00:11
     --------------- ------------------------ 2.3/6.0 MB 348.3 kB/s eta 0:00:11
     --------------- ------------------------ 2.4/6.0 MB 349.6 kB/s eta 0:00:11
     --------------- ------------------------ 2.4/6.0 MB 349.6 kB/s eta 0:00:11
     ---------------- ----------------------- 2.4/6.0 MB 350.0 kB/s eta 0:00:11
     ---------------- ----------------------- 2.4/6.0 MB 350.0 kB/s eta 0:00:11
     ---------------- ----------------------- 2.5/6.0 MB 352.0 kB/s eta 0:00:10
     ---------------- ----------------------- 2.5/6.0 MB 352.0 kB/s eta 0:00:10
     ---------------- ----------------------- 2.5/6.0 MB 353.8 kB/s eta 0:00:10
     ---------------- ----------------------- 2.5/6.0 MB 354.3 kB/s eta 0:00:10
     ---------------- ----------------------- 2.5/6.0 MB 354.3 kB/s eta 0:00:10
     ----------------- ---------------------- 2.5/6.0 MB 351.1 kB/s eta 0:00:10
     ----------------- ---------------------- 2.5/6.0 MB 351.1 kB/s eta 0:00:10
     ----------------- ---------------------- 2.6/6.0 MB 351.5 kB/s eta 0:00:10
     ----------------- ---------------------- 2.6/6.0 MB 351.5 kB/s eta 0:00:10
     ----------------- ---------------------- 2.6/6.0 MB 351.2 kB/s eta 0:00:10
     ----------------- ---------------------- 2.6/6.0 MB 350.4 kB/s eta 0:00:10
     ----------------- ---------------------- 2.6/6.0 MB 350.4 kB/s eta 0:00:10
     ----------------- ---------------------- 2.7/6.0 MB 353.5 kB/s eta 0:00:10
     ------------------ --------------------- 2.7/6.0 MB 354.0 kB/s eta 0:00:10
     ------------------ --------------------- 2.7/6.0 MB 354.0 kB/s eta 0:00:10
     ------------------ --------------------- 2.7/6.0 MB 354.0 kB/s eta 0:00:10
     ------------------ --------------------- 2.7/6.0 MB 354.2 kB/s eta 0:00:10
     ------------------ --------------------- 2.7/6.0 MB 354.2 kB/s eta 0:00:10
     ------------------ --------------------- 2.8/6.0 MB 355.2 kB/s eta 0:00:09
     ------------------ --------------------- 2.8/6.0 MB 355.2 kB/s eta 0:00:09
     ------------------ --------------------- 2.8/6.0 MB 355.2 kB/s eta 0:00:09
     ------------------- -------------------- 2.8/6.0 MB 355.4 kB/s eta 0:00:09
     ------------------- -------------------- 2.8/6.0 MB 355.4 kB/s eta 0:00:09
     ------------------- -------------------- 2.9/6.0 MB 355.7 kB/s eta 0:00:09
     ------------------- -------------------- 2.9/6.0 MB 355.7 kB/s eta 0:00:09
     ------------------- -------------------- 2.9/6.0 MB 359.9 kB/s eta 0:00:09
     ------------------- -------------------- 2.9/6.0 MB 358.9 kB/s eta 0:00:09
     ------------------- -------------------- 2.9/6.0 MB 358.9 kB/s eta 0:00:09
     ------------------- -------------------- 2.9/6.0 MB 358.9 kB/s eta 0:00:09
     ------------------- -------------------- 2.9/6.0 MB 358.9 kB/s eta 0:00:09
     -------------------- ------------------- 3.0/6.0 MB 357.0 kB/s eta 0:00:09
     -------------------- ------------------- 3.0/6.0 MB 357.0 kB/s eta 0:00:09
     -------------------- ------------------- 3.0/6.0 MB 354.9 kB/s eta 0:00:09
     -------------------- ------------------- 3.1/6.0 MB 357.1 kB/s eta 0:00:09
     -------------------- ------------------- 3.1/6.0 MB 357.7 kB/s eta 0:00:09
     -------------------- ------------------- 3.1/6.0 MB 360.4 kB/s eta 0:00:08
     --------------------- ------------------ 3.1/6.0 MB 361.4 kB/s eta 0:00:08
     --------------------- ------------------ 3.2/6.0 MB 363.6 kB/s eta 0:00:08
     --------------------- ------------------ 3.2/6.0 MB 366.3 kB/s eta 0:00:08
     --------------------- ------------------ 3.2/6.0 MB 366.2 kB/s eta 0:00:08
     --------------------- ------------------ 3.2/6.0 MB 366.2 kB/s eta 0:00:08
     ---------------------- ----------------- 3.3/6.0 MB 370.4 kB/s eta 0:00:08
     ---------------------- ----------------- 3.3/6.0 MB 371.7 kB/s eta 0:00:08
     ---------------------- ----------------- 3.3/6.0 MB 371.7 kB/s eta 0:00:08
     ---------------------- ----------------- 3.4/6.0 MB 373.7 kB/s eta 0:00:07
     ---------------------- ----------------- 3.4/6.0 MB 373.7 kB/s eta 0:00:07
     ---------------------- ----------------- 3.4/6.0 MB 374.3 kB/s eta 0:00:07
     ----------------------- ---------------- 3.5/6.0 MB 376.7 kB/s eta 0:00:07
     ----------------------- ---------------- 3.5/6.0 MB 376.7 kB/s eta 0:00:07
     ----------------------- ---------------- 3.5/6.0 MB 378.4 kB/s eta 0:00:07
     ----------------------- ---------------- 3.5/6.0 MB 378.4 kB/s eta 0:00:07
     ----------------------- ---------------- 3.6/6.0 MB 380.8 kB/s eta 0:00:07
     ----------------------- ---------------- 3.6/6.0 MB 380.8 kB/s eta 0:00:07
     ------------------------ --------------- 3.6/6.0 MB 381.1 kB/s eta 0:00:07
     ------------------------ --------------- 3.7/6.0 MB 382.5 kB/s eta 0:00:07
     ------------------------ --------------- 3.7/6.0 MB 382.5 kB/s eta 0:00:07
     ------------------------ --------------- 3.7/6.0 MB 385.3 kB/s eta 0:00:06
     ------------------------ --------------- 3.7/6.0 MB 385.3 kB/s eta 0:00:06
     ------------------------- -------------- 3.8/6.0 MB 386.7 kB/s eta 0:00:06
     ------------------------- -------------- 3.8/6.0 MB 388.0 kB/s eta 0:00:06
     ------------------------- -------------- 3.9/6.0 MB 390.7 kB/s eta 0:00:06
     -------------------------- ------------- 3.9/6.0 MB 394.0 kB/s eta 0:00:06
     -------------------------- ------------- 3.9/6.0 MB 395.3 kB/s eta 0:00:06
     -------------------------- ------------- 3.9/6.0 MB 395.3 kB/s eta 0:00:06
     -------------------------- ------------- 4.0/6.0 MB 397.3 kB/s eta 0:00:05
     -------------------------- ------------- 4.0/6.0 MB 397.1 kB/s eta 0:00:05
     -------------------------- ------------- 4.0/6.0 MB 397.1 kB/s eta 0:00:05
     --------------------------- ------------ 4.0/6.0 MB 396.6 kB/s eta 0:00:05
     --------------------------- ------------ 4.1/6.0 MB 398.4 kB/s eta 0:00:05
     --------------------------- ------------ 4.1/6.0 MB 401.6 kB/s eta 0:00:05
     ---------------------------- ----------- 4.2/6.0 MB 404.1 kB/s eta 0:00:05
     ---------------------------- ----------- 4.2/6.0 MB 408.3 kB/s eta 0:00:05
     ---------------------------- ----------- 4.2/6.0 MB 408.3 kB/s eta 0:00:05
     ---------------------------- ----------- 4.3/6.0 MB 410.7 kB/s eta 0:00:05
     ----------------------------- ---------- 4.4/6.0 MB 413.5 kB/s eta 0:00:04
     ----------------------------- ---------- 4.4/6.0 MB 414.2 kB/s eta 0:00:04
     ----------------------------- ---------- 4.4/6.0 MB 417.6 kB/s eta 0:00:04
     ------------------------------ --------- 4.5/6.0 MB 420.5 kB/s eta 0:00:04
     ------------------------------ --------- 4.5/6.0 MB 424.1 kB/s eta 0:00:04
     ------------------------------ --------- 4.5/6.0 MB 424.1 kB/s eta 0:00:04
     ------------------------------ --------- 4.6/6.0 MB 425.8 kB/s eta 0:00:04
     ------------------------------- -------- 4.6/6.0 MB 426.5 kB/s eta 0:00:04
     ------------------------------- -------- 4.7/6.0 MB 428.4 kB/s eta 0:00:04
     ------------------------------- -------- 4.7/6.0 MB 430.0 kB/s eta 0:00:03
     ------------------------------- -------- 4.7/6.0 MB 430.0 kB/s eta 0:00:03
     ------------------------------- -------- 4.8/6.0 MB 431.6 kB/s eta 0:00:03
     ------------------------------- -------- 4.8/6.0 MB 431.3 kB/s eta 0:00:03
     -------------------------------- ------- 4.8/6.0 MB 433.5 kB/s eta 0:00:03
     -------------------------------- ------- 4.8/6.0 MB 433.5 kB/s eta 0:00:03
     -------------------------------- ------- 4.9/6.0 MB 434.8 kB/s eta 0:00:03
     -------------------------------- ------- 4.9/6.0 MB 434.8 kB/s eta 0:00:03
     -------------------------------- ------- 4.9/6.0 MB 434.8 kB/s eta 0:00:03
     --------------------------------- ------ 4.9/6.0 MB 433.9 kB/s eta 0:00:03
     --------------------------------- ------ 5.0/6.0 MB 435.4 kB/s eta 0:00:03
     --------------------------------- ------ 5.0/6.0 MB 439.3 kB/s eta 0:00:03
     ---------------------------------- ----- 5.1/6.0 MB 444.6 kB/s eta 0:00:02
     ---------------------------------- ----- 5.1/6.0 MB 444.9 kB/s eta 0:00:02
     ---------------------------------- ----- 5.2/6.0 MB 446.3 kB/s eta 0:00:02
     ---------------------------------- ----- 5.2/6.0 MB 446.3 kB/s eta 0:00:02
     ----------------------------------- ---- 5.2/6.0 MB 448.9 kB/s eta 0:00:02
     ----------------------------------- ---- 5.3/6.0 MB 448.6 kB/s eta 0:00:02

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\tahan\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\tahan\anaconda3\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\tahan\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\tahan\anaconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\tahan\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\tahan\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\tahan\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\tahan\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\tahan\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\tahan\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\tahan\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\tahan\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\tahan\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\tahan\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 640.0 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.1 MB 648.1 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/2.1 MB 901.1 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/2.1 MB 901.1 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 871.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 871.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 871.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 871.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 871.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 533.8 kB/s eta 0:00:04
   ------ --------------------------------- 0.3/2.1 MB 635.0 kB/s eta 0:00:03
   ------- -------------------------------- 0.4/2.1 MB 655.2 kB/s eta 0:00:03
   ------- -------------------------------- 0.4/2.1 MB 655.2 kB/s eta 0:00:03
   -------- ------------------------------- 0.5/2.1 MB 670.2 kB/s eta 0:00:03
   -------- ------------------------------- 0.5/2.1 MB 670.2 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 682.7 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/2.1 MB 710.0 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/2.1 MB 710.0 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/2.1 MB 667.1 kB/s eta 0:00:03
   ------------ --------------------------- 0.6/2.1 MB 700.0 kB/s eta 0:00:03
   ------------ --------------------------- 0.7/2.1 MB 686.9 kB/s eta 0:00:03
   ------------ --------------------------- 0.7/2.1 MB 686.9 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 733.5 kB/s eta 0:00:02
   ---------------- ----------------------- 0.9/2.1 MB 755.5 kB/s eta 0:00:02
   ---------------- ----------------------- 0.9/2.1 MB 764.6 kB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.1 MB 799.5 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 811.0 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 870.6 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 870.6 kB/s eta 0:00:02
   ---------------------- ----------------- 1.2/2.1 MB 856.4 kB/s eta 0:00:02
   ---------------------- ----------------- 1.2/2.1 MB 856.4 kB/s eta 0:00:02
   ---------------------- ----------------- 1.2/2.1 MB 856.4 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 842.2 kB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 848.0 kB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 854.9 kB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 854.9 kB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 875.7 kB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 875.7 kB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 900.3 kB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 900.3 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 898.9 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 898.9 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 898.9 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 913.3 kB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.1 MB 930.9 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 946.4 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 945.4 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 942.9 kB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.36

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [8]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

**Note:This below code is added to remove blank rows from table**

In [26]:
df['Landing_Outcome'].value_counts()

Landing_Outcome
Success                   38
No attempt                21
Success (drone ship)      14
Success (ground pad)       9
Controlled (ocean)         5
Failure (drone ship)       5
Failure                    3
Failure (parachute)        2
Uncontrolled (ocean)       2
Precluded (drone ship)     1
No attempt                 1
Name: count, dtype: int64

In [9]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [42]:

%sql select payload_mass__kg_ from SPACEXTBL order by payload_mass__kg_ asc LIMIT 1

 * sqlite:///my_data1.db
Done.

[(0,)]

In [15]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [17]:
%sql SELECT "Launch_Site" FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%'

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',),
 ('CCAFS SLC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) as TotalPayloadMass FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [24]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS AveragePayloadMass FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [27]:
%sql SELECT MIN(Date) AS FirstSuccessfulLandingDate FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [31]:
%%sql SELECT Booster_Version as Booster_Name
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ > 4000
AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [33]:
%sql SELECT Landing_Outcome,COUNT(*) AS Total FROM SPACEXTABLE GROUP BY Landing_Outcome;

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 21),
 ('No attempt ', 1),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [34]:
%%sql
SELECT Booster_Version
FROM SPACEXTABLE
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_)
    FROM SPACEXTABLE
);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [35]:
%%sql
SELECT 
    CASE 
        WHEN substr(Date, 6, 2) = '01' THEN 'January'
        WHEN substr(Date, 6, 2) = '02' THEN 'February'
        WHEN substr(Date, 6, 2) = '03' THEN 'March'
        WHEN substr(Date, 6, 2) = '04' THEN 'April'
        WHEN substr(Date, 6, 2) = '05' THEN 'May'
        WHEN substr(Date, 6, 2) = '06' THEN 'June'
        WHEN substr(Date, 6, 2) = '07' THEN 'July'
        WHEN substr(Date, 6, 2) = '08' THEN 'August'
        WHEN substr(Date, 6, 2) = '09' THEN 'September'
        WHEN substr(Date, 6, 2) = '10' THEN 'October'
        WHEN substr(Date, 6, 2) = '11' THEN 'November'
        WHEN substr(Date, 6, 2) = '12' THEN 'December'
    END AS month,
    Booster_version,
    Launch_Site,
    Landing_Outcome
FROM 
    SPACEXTABLE
WHERE 
    substr(Date, 1, 4) = '2015'
    AND Landing_Outcome LIKE '%Failure%' 
    AND Landing_Outcome LIKE '%drone ship%';

 * sqlite:///my_data1.db
Done.

[('January', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('April', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such function: MONTHNAME
[SQL: SELECT
    MONTHNAME(Date) AS month,
    Booster_version,
    Launch_Site,
    Landing_Outcome
FROM
    SPACEXTABLE
WHERE
    YEAR(Date) = '2015'
    AND Landing_Outcome LIKE '%Failure%'
    AND Landing_Outcome LIKE '%drone ship%';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [36]:
%sql select substr(Date, 6,2) as month, Landing_Outcome, Booster_Version, Launch_Site from SPACEXTABLE where substr(Date,0,5)='2015' and Landing_Outcome is 'Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [39]:
%%sql SELECT 
    Landing_Outcome, 
    COUNT(*) AS outcome_count
FROM 
    SPACEXTABLE
WHERE 
    Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY 
    Landing_Outcome
ORDER BY 
    outcome_count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>